
.flex-details { 
    display: flex;
    flex-direction: column;
}

.fill-space {
    flex: 1 1 auto;
}

.edit-button {
    text-align: right;
    padding: 10px;
}

mat-card-header {
    background-color: rgb(192, 189, 189);
    color: rgb(150, 148, 148);
    line-height: 0.3;
    width: 100%;
}