
<div class="profile-intro">
  <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">
    
      <!-- <div class="intro-img" > -->
      <div fxFlex="28" fxFlexOrder.xs="1">
        <div *ngIf="details.imageURL; else noImageAvatar" class="flex-details" style="margin-bottom: 20px;">
          <!-- <img [src]="personImage" alt="" style="width: 100%;"> -->
          <img [src]="details.imageURL" [alt]="details.person.firstname" style="width: 100%;">
        </div>
      </div>

      <ng-template #noImageAvatar>
        <div class="flex-details" style="margin-bottom: 20px;">
          <img src="../../../../assets/avatar/avatar2.png" alt="" style="max-width: 100%;">
        </div>
      </ng-template>

      <!-- <div class="flex-details"> -->
      <div fxFlex="50" fxFlexOrder.xs="2">
        <div class="flex-details">

          <mat-list>

            <mat-list-item>
              <h2>
                {{ details.person.surname }} 
                {{ details.person.firstname }} 
              </h2> &nbsp;
              <small>({{ details.person.otherNames }}) </small> 
            </mat-list-item>
  
            <mat-list-item>
              <mat-icon>phone_iphone</mat-icon> &nbsp;
              <span>
                {{ details.person.contact.mobilePhone1 }}, &nbsp;
                {{ details.person.contact.mobilePhone2  }}
              </span>
            </mat-list-item>
  
            <mat-list-item *ngIf="details.person.contact.email">
              <mat-icon>email</mat-icon> &nbsp;
              <span>
                {{ details.person.contact.email  }}
              </span>  
            </mat-list-item>
  
            <mat-list-item>
              <mat-icon>location_on</mat-icon> &nbsp;          
              <span>
                {{ details.person.contact.residentialAddress  }}
              </span>
              <mat-divider></mat-divider>
            </mat-list-item>

            
            <div class="edit-button">
              <button mat-button color="primary" (click)="editProfile()">Edit Profile</button>
            </div>
  
          </mat-list> 
        
        </div>

      </div>
  </div>

</div>
