<app-breadcrum [page-title]="title" [page-icon]="icon" [page-banner]="pageBanner"></app-breadcrum>

<mat-card class="card-wrapper">
  <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxFlexAlign.lt-sm="center center"> -->
    <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">

      <div fxFlex="24" fxFlexOrder.xs="1">
        <div class="flex-details">
          <h3>Filter by Name</h3>
          <mat-form-field fxFlex.sm="style='font-size:10px;'">
            <input matInput type="text" placeholder="Person's name">
          </mat-form-field>
        </div>
      </div>
    
    <div fxFlex="60" fxFlexOrder.xs="2">
      <div class="flex-details margin-20">

        <section>
          <div class="add-new">
            <a mat-raised-button color="primary" routerLink="/registration">Add New Record</a>
          </div>
        </section>

        <div>
          <mat-nav-list dense>
            <mat-list-item *ngFor="let detail of details$ | async" routerLink="/profile/{{ detail.id }}">
              <mat-divider></mat-divider>
              <img *ngIf="detail.imageURL; else noImageAvatar" matListAvatar [src]="detail.imageURL" [alt]="detail.person.firstname">
              <h3 matLine> 
                <strong>                  
                  {{ detail.person.title }}
                  {{ detail.person.surname }},
                  {{ detail.person.firstname }} 
                </strong>
              </h3>
              <p matLine>
                <span> Gender: </span>
                <span class="demo-2"> {{ detail.person.gender }}  </span>
              </p>
            </mat-list-item>            
          </mat-nav-list>
        </div>

        <ng-template #noImageAvatar>
          <img matListAvatar src="../../../assets/avatar/avatar1.png" alt="...">
        </ng-template>

      </div>
    </div>
    
    <div fxShow.xs="false" fxShow="true" fxFlex="25">
    <!-- <div fxFlex="20" fxFlexOrder.xs="3"> -->
      <div class="flex-details">

        <div style="background-color: #e6e6e6e6">
          <mat-list dense>
            <mat-list-item>
              <mat-icon matListIcon>mail_outline</mat-icon>             
              <h3 matLine> Email People </h3>
            </mat-list-item>         
            <mat-list-item>
              <mat-icon matListIcon>import_export</mat-icon>
              <h3 matLine> Export </h3>
            </mat-list-item>         
          </mat-list>
        </div>

      </div>  
    </div>

  </div> 
  
</mat-card>
