
  <mat-horizontal-stepper #stepper="matHorizontalStepper">    
    <mat-step>
      <ng-template matStepLabel>Baptism</ng-template>
      <app-baptismal-form [person-id]="personId"></app-baptismal-form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Family</ng-template>
      <app-family-form [person-id]="personId"></app-family-form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Other</ng-template>      
      <app-other-form [person-id]="personId"></app-other-form>      
    </mat-step>
  </mat-horizontal-stepper>

