
.stepper-div {
    // text-align: center;
    margin: 0 auto;
}

.form-field-container {
    display: flex;
    flex-direction: column;
}

.form-field-container > * {
    width: 100%;
}

.card-wrapper {
    display: 100%;
    margin: -75px 20px 20px 20px;
}

//expansion panel
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.image_upload {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {   
    border: 2px solid white;
    border-radius: 120px;   
}

.dropzone {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 80px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }

    mat-icon {
        color: #dadada;
        font-size: 50px;
        margin-bottom: 20px;
    }
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

mat-tab-group {
    width: 100%;
}

mat-form-field {
    margin: 7px;
}

