<app-breadcrum [page-title]="title" [page-icon]="icon" [page-banner]="pageBanner"></app-breadcrum>

<mat-card class="card-wrapper">
  <div fxLayout="row" fxLayout.lt-sm="column" fxFlexAlign.lt-sm="center center">

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Basic Information
        </ng-template>
        <p>The wizard will guide you through the basic form information requirements.</p>

        <br>    
        
        <app-basic-registration-form></app-basic-registration-form>

      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Extended Information
        </ng-template>
        <h1>Terrible sushi restaurants</h1>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>

      
  </div>
</mat-card>