<app-breadcrum [page-title]="title" [page-icon]="icon" [page-banner]="pageBanner"></app-breadcrum>

<mat-card class="card-wrapper">
  
  <app-profile-intro [person-profile]="details.person" [person-image]="personImage"></app-profile-intro>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        About
      </ng-template>

      <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">
     
        <div fxFlex="50" fxFlexOrder.xs="1">

          <app-profile-main [person-profile]="details.person"></app-profile-main>

          <app-profile-family></app-profile-family>

          <app-profile-contact [person-profile]="details.person"></app-profile-contact>

        </div>

        <div fxFlex="50" fxFlexOrder.xs="2">

          <app-profile-demographics [person-profile]="details.person"></app-profile-demographics>

          <app-profile-education-work [person-profile]="details.person"></app-profile-education-work>

         <app-profile-other></app-profile-other>

        </div>
  
      </div>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Gallery
      </ng-template>

      <p>The wizard will guide you through the basic form information requirements.</p>


    </mat-tab>
  </mat-tab-group>

</mat-card>
