
.flex-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-list {
    max-height: 170px;
    overflow: auto;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.example-radio-button {
    margin: 5px;
}
  
.example-selected-value {
    margin: 15px 0;
}

.add-family {
    text-align: left;
    margin-bottom: 10px;
}

mat-horizontal-stepper {
    width: 100%;
}

mat-form-field {
    margin: 7px;
}